<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>List of all Users</h1>
      <ul>
        <% @users.each do |user| %>
          <li>
            <%= user.email %>
            <div class = "divider"/>
              <%= button_to "Delete", admins_user_path(:id => user.id),
               :method => :delete %>
            </div>
          </li>
        <% end %>
      </ul>
  </body>
</html>
