<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to EyeKea!</title>
  </head>

  <body>
    <h1 class="text-center" id="greeting">Welcome to EyeKea!</h1>
    <h5 class="text-center" id="greeting">The premier review site for Ikea furniture</h5><br>
    <table class="hover">
      <thead>
        <tr>
          <th width="150">Ikea Item</th>
          <th width="200">Description</th>
        </tr>
      </thead>
      <tbody>
          <% @items.each do |item| %>
          <tr>
          <td><%= link_to item.title, item_path(item) %></td>
          <td><%= item.subtitle %></td>
        </tr>
          <% end %>
      </tbody>
    </table>
    <p>
      <%= paginate @items %>
    </p>
  </body>
</html>
