<br>
<h2 id="greeting">Please enter an Ikea URL</h2>

<%= form_for @item do |f|%>
  <%= f.label :item_url, "URL"%>
  <%= f.text_field :item_url %>

  <%= f.submit "Submit", class: "button" %>
<% end %>
